body, html {
  background-color: #f0efe9;
  margin: 0;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  text-align: center;
}

.input-field {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #15db1c;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 20px;
  margin-bottom: 10px;
}

.answer-option {
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  font-size: 16px;
  vertical-align: middle;
}

.feedback {
  margin-bottom: 10px;
}

.player-score {
  font-size: 18px;
}

.player-info {
  margin-top: 20px;
}

li {
  text-align: left;
  margin: 10px;
  margin-left: -20px;
}